<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <title>Weex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="-– title:  type: references order: 2.5 version: 2.1 -– waterfallv0.11.0+ 提供瀑布流布局的组件 子组件注意:  和list一样, waterfall 只支持特定类型的组件: cell, header, refresh, loading 和 fixed-position 组件.   cell: 瀑布流中的每个元素 header:">
<meta property="og:type" content="website">
<meta property="og:title" content="Weex">
<meta property="og:url" content="https://weex-project.io/cn/references/components/waterfall.html">
<meta property="og:site_name" content="Weex">
<meta property="og:description" content="-– title:  type: references order: 2.5 version: 2.1 -– waterfallv0.11.0+ 提供瀑布流布局的组件 子组件注意:  和list一样, waterfall 只支持特定类型的组件: cell, header, refresh, loading 和 fixed-position 组件.   cell: 瀑布流中的每个元素 header:">
<meta property="og:updated_time" content="2017-04-06T09:17:09.000Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Weex">
<meta name="twitter:description" content="-– title:  type: references order: 2.5 version: 2.1 -– waterfallv0.11.0+ 提供瀑布流布局的组件 子组件注意:  和list一样, waterfall 只支持特定类型的组件: cell, header, refresh, loading 和 fixed-position 组件.   cell: 瀑布流中的每个元素 header:">
  
    <link rel="alternate" href="/atom.xml" title="Weex" type="application/atom+xml">
  
  
    <link rel="icon" href="//gw.alicdn.com/tps/TB1XNqxPXXXXXcSXVXXXXXXXXXX-64-63.png">
  
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/swiper.min.css">
</head>

<body id="cn/references/components/waterfall" class="lang-cn">
  
  <script>
    window.PAGE_TYPE = "cn/references/components/waterfall";
    window.ROOT = "/"
  </script>
  <header id="header">
  <div class="navbar">
    <a id="logo" href="/cn/">
      <img src="//img.alicdn.com/tps/TB1zBLaPXXXXXXeXXXXXXXXXXXX-121-59.svg" />
    </a>
    <div class="main-nav">
      <ul class="links">
        <li><a href="/cn/guide">教程</a></li>
        <li><a href="/cn/references">手册</a></li>
        <li class="dropdown">
          <a href="javascript:;">参考</a>
          <ul class="dropdown-menu subnav">
            <li>
              <a href="/cn/faq.html">FAQ</a>
            </li>
            <li>
              <a href="/cn/releasenote.html">版本说明</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
            <a href="javascript:;">工具和服务</a>
            <ul class="dropdown-menu subnav">
              <li>
                <a href="/cn/playground.html">Playground</a>
              </li>
              <li>
                <a href="/cn/guide/tools/toolkit.html">Weex-toolkit</a>
              </li>
              <li>
                <a href="http://dotwe.org" target="_blank">Code Snippets</a>
              </li>
              <li>
                <a href="https://market.dotwe.org" target="_blank">Market</a>
              </li>
            </ul>
        </li>
      </ul>
      <ul class="info">
        <li><a href="https://github.com/apache/incubator-weex/" target="_blank"><span class="btn-github iconfont icon-github"></span></a></li>
      </ul>
      <ul class="tools">
        <li>
          <div class="search">
  <form id="search-form" class="search-form"> <!-- 搜索框相关 -->
    <input type="text" id="search-input-header" name="q" results="0" class="form-control search-input" autocomplete="off" autocorrect="off"/>
    <span class="iconfont icon-search"></span>
  </form>
  <div class="results-panel">
  </div>
</div>
        </li>
        <li>
          <div class="dropdown select-lang">
            <a href="javascript:;" class="dropdown-toggle">
              Language
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pick-lang">
              <li>
                <a href="/references/components/waterfall.html" data-lang="en">English</a>
              </li>
              <li>
                <a href="/cn/references/components/waterfall.html" data-lang="zh-cn">中文</a>
              </li>
            </ul>
          </div>
        </li>
        <!--<li></li>-->
      </ul>
    </div>
  </div>
  <div id="mobile-nav">
    <a id="logo" href="/cn/">
      <img src="//img.alicdn.com/tps/TB1zBLaPXXXXXXeXXXXXXXXXXXX-121-59.svg" />
    </a>
    <a class="btn-menu"><span class="iconfont icon-nav"></span></a>
  </div>
</header>

  <div id="sidebar" class="">
  <div class="sidebar-menu">
    
      <ul class="main-nav">
        <li>
          <div class="search">
  <form id="search-form" class="search-form"> <!-- 搜索框相关 -->
    <input type="text" id="search-input-sidebar" name="q" results="0" class="form-control search-input" autocomplete="off" autocorrect="off"/>
    <span class="iconfont icon-search"></span>
  </form>
  <div class="results-panel">
  </div>
</div>
        </li>
        <li>
          <a class="" href="/cn/guide">
            教程
          </a>
        </li>
        <li>
          <a class="" href="/cn/references">
            手册
          </a>
        </li>
        <li>
          <a href="/cn/faq.html">
            FAQ
          </a>
        </li>
        <li>
            <p>工具和服务</p>
            <ul class="subnav">
              <li>
                <a href="/cn/playground.html">Playground</a>
              </li>
              <li>
                <a href="/cn/guide/tools/devtools.html">Devtools</a>
              </li>
              <li>
                <a href="/cn/guide/tools/weexpack.html">Weexpack</a>
              </li>
              <li>
                <a href="http://dotwe.org" target="_blank">Snippets</a>
              </li>
              <li>
                <a href="https://market.dotwe.org" target="_blank">Market</a>
              </li>
            </ul>
        </li>
        <li>
          <a href="https://github.com/apache/incubator-weex/" target="_blank">
            GitHub
          </a>
        </li>
      </ul>
    
    <a class="btn-close-sidebar iconfont  icon-close"></a>
  </div>
</div>

  <div class="article-wrapper page-layout">
  <div class="doc-nav">
    


<div class="summary">
  <h2 class="part-title">
    
  </h2>
  <ul class="doc-summary">
    
    
    
   
    
    
    
      <li>
        <h3 class="chapter-title"><a href="/cn/v-0.10/undefined/index.html" class="sidebar-link">旧语法文档</a></h3>
      </li>
    
  </ul>
</div>
  </div>
  

<article class="article article-type-cn/references/components/waterfall">
  <div class="article-entry" itemprop="articleBody">
    <header class="article-header">
  
  <time class="article-date" datetime="2017-04-06T09:17:09.000Z">Updated time: 06/04/2017</time>
</header>
    <p>-–</p>
<p>title: <waterfall></waterfall></p>
<p>type: references</p>
<p>order: 2.5</p>
<p>version: 2.1</p>
<p>-–</p>
<h1 id="waterfall"><a href="#waterfall" class="headerlink" title="waterfall"></a>waterfall</h1><p><span class="weex-version">v0.11.0+</span></p>
<p>提供瀑布流布局的组件</p>
<h3 id="子组件"><a href="#子组件" class="headerlink" title="子组件"></a>子组件</h3><p>注意:  和list一样, waterfall 只支持特定类型的组件: cell, header, refresh, loading 和 fixed-position 组件. </p>
<ul>
<li><code>cell</code>: 瀑布流中的每个元素</li>
<li><code>header</code>: 主要用于表示横跨多列的元素，可以通过css的position属性设置为sticky</li>
</ul>
<h3 id="特性"><a href="#特性" class="headerlink" title="特性"></a>特性</h3><ul>
<li><strong>column-width</strong> : 描述瀑布流每一列的列宽<ul>
<li><code>auto</code>: 意味着列宽是被其他属性所决定的(比如 column-count)</li>
<li><code>&lt;length&gt;</code>: 最佳列宽，实际的列宽可能会更宽(需要填充剩余的空间)， 或者更窄(如果剩余空间比列宽还要小)。 该值必须大于0</li>
</ul>
</li>
<li><strong>column-count</strong>: 描述瀑布流的列数<ul>
<li><code>auto</code>: 意味着列数是被其他属性所决定的(比如 column-width)</li>
<li><code>&lt;integer&gt;</code>: 最佳列数，column-width 和  column-count 都指定非0值， 则 column-count 代表最大列数。</li>
</ul>
</li>
<li><strong>column-gap</strong>: 列与列的间隙. 如果指定了 <code>normal</code> ，则对应 <code>32</code>.</li>
</ul>
<p>其他支持的属性参见 <a href="./list.html">List Component Attributes</a> </p>
<h3 id="样式"><a href="#样式" class="headerlink" title="样式"></a>样式</h3><p>通用样式：支持所有通用样式</p>
<ul>
<li>盒模型</li>
<li><code>flexbox</code> 布局</li>
<li><code>position</code></li>
<li><code>opacity</code></li>
<li><code>background-color</code></li>
</ul>
<p>查看 <a href="../common-style.html">组件通用样式</a></p>
<h3 id="事件"><a href="#事件" class="headerlink" title="事件"></a>事件</h3><ul>
<li><p>通用事件</p>
<p>支持所有通用事件：</p>
<ul>
<li><code>click</code></li>
<li><code>longpress</code></li>
<li><code>appear</code></li>
<li><code>disappear</code></li>
</ul>
<p>查看 <a href="../common-event.html">通用事件</a></p>
</li>
</ul>
<h3 id="API"><a href="#API" class="headerlink" title="API"></a>API</h3><p>滚动到列表某个指定项是常见需求，<code>&lt;waterfall&gt;</code> 拓展了该功能支持滚动到指定 <code>&lt;cell&gt;</code> 或者 <code>&lt;header&gt;</code>。通过 <code>dom</code> module 访问，更多信息可参考 <a href="../modules/dom.html">dom module</a> 。</p>
<h3 id="示例"><a href="#示例" class="headerlink" title="示例"></a>示例</h3><p>参见 <a href="http://dotwe.org/vue/7a9195643e9e8da352b0d879cdbe68c0" target="_blank" rel="external">playground waterfall example</a></p>

  </div>
  
</article>
</div>
  
  <footer id="footer">
  <div class="row clearfix">
    <div class="ali-logo">
      <img src="//gw.alicdn.com/tps/TB1Ef93PXXXXXaXXpXXXXXXXXXX-252-126.png" alt="Alibaba">
    </div>
    <div class="dropdown select-lang">
      <a href="javascript:;" class="dropdown-toggle">
        Language
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu pick-lang">
        <li>
          <a href="/references/components/waterfall.html" data-lang="en">English</a>
        </li>
        <li>
          <a href="/cn/references/components/waterfall.html" data-lang="zh-cn">中文</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <p><span>Released under </span>Apache License 2.0</p>
  </div>
  <div class="row clearfix">
    <div class="cell">Copyright(c) 2009-2017 The Apache Software Foundation</div>
  </div>
</footer>
  <div style="display: none;">
  <script src="//s95.cnzz.com/z_stat.php?id=1261496509&web_id=1261496509" language="JavaScript"></script>
</div>

  <script src="/js/reqwest.js"></script>
  <script src="/js/common.js"></script>
</body>
</html>
